{% extends 'home/layouts.html' %}

{% block content %}


<form action = {% url 'saveuser' %} method="post">{% csrf_token %}
	<div class="form-group">
    	<label for="FirstName"><font color="darkblue"> <h2>First Name: </h2></font></label>
    	<input class="form-control" id="first_name" type="text" name="first_name" value="">
    </div>
    <div class="form-group">
    	<label for="LastName"><font color="darkblue"> <h2>Last Name: </h2></font></label>
   		<input id="last_name" type="text" name="last_name" value="">
    </div>
     <div class="form-group">
      <label for="Username"><font color="darkblue"> <h2>Username:</h2></font> </label>
      <input id="username" type="text" name="username" value="">
    </div>
    <div class="form-group">
    	<label for="Contact"><font color="darkblue"> <h2>Contact: </h2></font></label>
   		<input id="contact" type="text" name="contact" value="">
    </div>
    <div class="form-group">
    	<label for="EmergencyFirstName"><font color="maroon"> <h2>Emergency Last Name:</h2></font> </label>
   		<input id="emergency_first_name" type="text" name="emergency_first_name" value="">
    </div>
    <div class="form-group">
    	<label for="EmergencyLastName"><font color="maroon"> <h2>Emergency Last Name: </h2></font></label>
   		<input id="emergency_last_name" type="text" name="emergency_last_name" value="">
    </div>
    <div class="form-group">
    	<label for="EmergencyContact"><font color="maroon"> <h2>Emergency Contact: </h2></font></label>
   		<input id="emergency_contact" type="text" name="emergency_contact" value="">
    </div>
    <input type="submit" value="submit" class="btn btn-success">
</form>
</font>
{% endblock %}